@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<body>
	<div class="row">
		<div class="col-md-4">
			<h2>Administrador de red </h2>
			<div>
				<p>
						Cuenta con un amplio conocimiento para solucionar tus dudas y problemas de red.
					<br />
						Administrar la red de internet en localidades que ya cuentan con este servicio.
					<br />
						Brindar servicios integrales para uso personal o empresarial.
					<br />

				</p>
			</div>
		</div>
	</div>
</body>


<p>Use this area to provide additional information.</p>
